@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat);

*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
scroll-behavior: smooth;
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root{
    --bg-color: #0b0b0b;
    --second-bg-color: #0b081e;
    --text-color: #fff;
    --main-color: rgb(233, 155, 255);
    --second-text-color: #0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    position: relative;
    color: var(--text-color);
    font-family: 'Ubuntu', sans-serif;
    background: var(--bg-color);
    /* background: linear-gradient(to bottom, var(--second-bg-color), rgb(29, 1, 29)); */
}

/* width */
::-webkit-scrollbar {
    width: 1rem;
}
  
/* Track */
  ::-webkit-scrollbar-track {
    background: var(--bg-color);
}
  
/* Handle */
  ::-webkit-scrollbar-thumb {
    background: #64167f;
    border-radius: 10px;
}

a{
    color: var(--text-color);
    text-decoration: none;
}
  
ul{
    list-style: none;
}

p{
  font-size: 1.5rem;
  font-weight: 400;
}

section{
    position: relative;
    min-height: 100vh;
    background: url(./PublicMedia/Grid.png) no-repeat;
    background-size: cover;
    background-position: center;
    gap: 2rem;
}

.section-title{
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: 600;
  letter-spacing: 2px;
  padding: 10rem 0 0 0;
}

.section-title span{
    color: #ff7300;
}

button{
    cursor: pointer;
}